@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
}

#number{
    margin-top: 1.5em;
    font-family: 'Roboto';
    background-color: #4d908e;
    color: white;
    border-radius: 5px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1rem;
}

#chuck{
    margin-top: 1.5em;
    font-family: 'Roboto';
    background-color: #4d908e;
    color: white;
    border-radius: 5px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1rem;
}

#output{
    margin-top: 1em;
}