h3, h4 {
    font-size: larger;
}

h4 {
    padding-top: 1rem;
}

#list {
    padding-top: 1em;
}

li {
    font-family: 'Roboto';
}

#ajax {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.7em;
    color: #43BCCD;
    padding-left: 1em;
}

#ajax:hover {
    color: #FBAD88;
}

#notes {
    margin-top: 1.8em;
    margin-bottom: -1.6rem;
}

p {
    padding-left: 1em;
}