@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0 auto;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.2em;
}

li {
    list-style: none;
    padding: 1rem;
}

.delete-task {
    background-color: #EF3E36;
    color: white;
}

#task {
    padding-top: 1em;
}

#buttons {
    padding-top: 1em;

}

.buttons {
    background-color: #4d908e;
    color: white;
    border-radius: 5px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin: 0.3rem;
}
#submit-button{
    background-color: #43aa8b;
    color: white;
    border-radius: 5px;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

input.tick {
    width: 20px;
    height: 20px;
}