@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto';
    text-align: center;
}

main {
    font-size: 1.4rem;
}
li {
    list-style: none;
    padding: 5px;
}

.delete-task {
    background-color: #EF3E36;
    color: white;
}

#task {
    padding: 1em;
}