body {
    text-align: center;
}

.article h1:hover span {
    color: #484848;  
    transform: rotate(10deg) translateX(40px) scale(1.5);
    display: inline-block;
}

.article h1 span {
    -webkit-transition-property: -webkit-transform;
    transition: transform 0.2s ease-out 50ms, color 0.1s linear 50ms;
}