@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Abyssinica SIL';
}

p {
    font-family: 'Roboto';
    font-size: 1.17em;
}
h1 {
    color: #264653;
}

ol li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.17em;
}

li :hover{
    color: #fca311;
}

.index :hover {
    color: #f77f00;
}